.Button {
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
}

.Button:hover {
    border-color: transparent;
    cursor: pointer;
}

.Button:hover:active {
    background-color: #252550 !important;
}

.Button:active {
    background-color: #252550 !important;
}

.Button:focus {
    background-color: #252550;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}

.Blue,
.BlueOutline:hover,
.Teal:hover {
    background-color: #252550;
    color: #ffffff;
}

.BlueOutline,
.Blue:hover {
    /* border: 1px solid #2142b2; */
    background-color: #ffffff;
    color: #252550;
}

.Navy,
.NavyOutline:hover {
    background-color: #000024;
    color: aliceblue;
}

.Navy:hover,
.NavyOutline {
    background-color: aliceblue;
    color: #000024;
}

.Teal {
    background-color: #0c7c96;
    color: #ffffff;
}