.Owner {
    font-weight: bold;
    color: #252550;
    margin-right: 8px;
}

.Date {
    font-weight: lighter;
    color: #c1c1c5;
}

.Like {
    max-width: 10%;
}

.Like i {
    font-size: 100%;
}

.Dropdown {
    text-align: right;
}