.Post {
    background-color: #DCF4F5;
    border: 1px solid #ffffff;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.Post figure,
h5 {
    margin: 0 0;
}

.Title {
    padding-bottom: 0px;
}

.Text {
    background-color: white;
    text-decoration: underline;
    text-underline-offset: 8px;
    font-family: 'Kalam', cursive;
    margin-top: 10%;
    margin-right: 25px;
    height: 80%;
}

.Additional {
    font-size: 80%;
}

.Stamp {
    object-fit: contain;
    max-height: 40px;
    padding-left: 80%;
    margin-bottom: 20px;
}

.Heart {
    color: #eb0768;
}

.Heart:hover {
    color: #252550;
}

.HeartOutline:hover {
    color: #eb0768;
}

.NoWrap {
    white-space: nowrap;
    max-width: none;
}

@media screen and (max-width: 767px) {
    .Text {
        max-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}