.App {
    font-family: 'Sarabun', sans-serif;
    background-color: #C3E7F5;
    min-height: 100vh;
}

.Main {
    padding-top: 81px;
}

* {
    box-sizing: border-box;
}

.Content {
    background-color: #DCF4F5;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid white;
    margin-bottom: 20px;
}

.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

a {
    transition: color ease-in-out 0.3s;
    color: #2e6980;
}

a:hover {
    color: #252550;
    text-decoration: none;
    transition: color ease-in-out 0.3s;
}

a:hover i {
    color: #252550;
    transition: color ease-in-out 0.3s;
}

i {
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
    color: #489abb;
}

i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #252550;
}

figure {
    text-align: center;
    display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}